{% extends "../layouts/_base.html" %}
{% set currentPage = 'league' %}
{% block title %}League {% endblock %}
{% block active_nav %}league{% endblock %}
{% block body_class %}page page--league{% endblock %}
{% block head_extra %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}
{% block content %}
{% include '../components/page-header/page-header.twig' with {
  title: 'Premier League',
  subtitle: 'Great british league',
    mod: 'compact',
  breadcrumbs: [
    { label: 'Home', url: '/' },
    { label: 'premier-league' }
  ]
} %}


{% endblock %}

{% block scripts %}
<script
  defer
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>
{% endblock %}