{% extends "../layouts/_base.html" %} 
{% set currentPage = 'news' %}
{% block title %}News{% endblock %} 
{% block active_nav %}news{% endblock %} 
{% block body_class %}page page--news{% endblock %} 
{% block head_extra %}
{% endblock %} {% block content %}

{% set postsData = load_json('data/posts.json') %}

{% include '../components/page-header/page-header.twig' with {
  title: 'Popular News',
  subtitle: 'Stay updated with the latest news',
    mod: 'compact',
  breadcrumbs: [
    { label: 'Home', url: '/' },
    { label: 'News' }
  ]
} %}


<section class="section section--margin">
  <div class="container">
    <div class="section__inner">
      <div class="archive__grid archive__grid--news">     
{% for post in postsData %}
    {% include '../components/card-post/card-post.twig' %}
{% endfor %}
      </div>

      {% include '../components/pagination/pagination.twig' with {
  card_selector: '.card-post',
  grid_selector: '.archive__grid--news',
  per_page: 12
} %}
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}
{% endblock %}