{% extends "../layouts/_base.html" %} 
{% set currentPage = 'review' %}
{% block title %}Review{% endblock %} 
{% block active_nav %}review{% endblock %} 
{% block body_class %}page page--review{% endblock %} 
{% block head_extra %}
{% endblock %} {% block content %}



{% include '../components/page-header/page-header.twig' with {
  title: 'Match review',
  subtitle: 'Fun recap of the latest games',
    mod: 'compact',
  breadcrumbs: [
    { label: 'Home', url: '/' },
    { label: 'Calendar', url: '/' },
    { label: 'review' }
  ]
} %}
{% set premierLeague = load_json("data/leagues/premier-league.json") %}
{% set reviewData = load_json('data/review-example.json') %}
{% set statsData = load_json('data/review-stats.json') %}


<section class="section section--margin">
  <div class="container">
    <div class="section__inner">
      {% include '../components/review-head/review-head.twig' with { review: reviewData } only %}
    </div>
  </div>
</section>
<section class="section section--margin">
  <div class="container">
    <div class="section__inner review-content">
      <div class="review-descr">
        {% include '../components/section-header/section-header.twig' with {
    title: 'Text Review',
    icon: 'text_ad',
    show_more: false
  } %}
  <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quisquam voluptatibus nesciunt. Exercitationem, debitis inventore? Eligendi odio minus provident unde aspernatur atque incidunt neque. Laboriosam, modi. Rem id eveniet eum beatae recusandae.</p>
  <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quisquam voluptatibus nesciunt. Exercitationem, debitis inventore? Eligendi odio minus provident unde aspernatur atque incidunt neque. Laboriosam, modi. Rem id eveniet eum beatae recusandae.</p>
  <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quisquam voluptatibus nesciunt. Exercitationem, debitis inventore? Eligendi odio minus provident unde aspernatur atque incidunt neque. Laboriosam, modi. Rem id eveniet eum beatae recusandae.</p>
  <img src="/assets/images/img24.webp" alt="picture" class="review-img">
    <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quisquam voluptatibus nesciunt. Exercitationem, debitis inventore? Eligendi odio minus provident unde aspernatur atque incidunt neque. Laboriosam, modi. Rem id eveniet eum beatae recusandae.</p>
  <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quisquam voluptatibus nesciunt. Exercitationem, debitis inventore? Eligendi odio minus provident unde aspernatur atque incidunt neque. Laboriosam, modi. Rem id eveniet eum beatae recusandae.</p>
      </div>
      <aside class="post-layout__sidebar">
        <div class="sidebar-widget">
          <h3 class="sidebar-widget__title">
            <span class="material-symbols-outlined">sports_soccer</span>
            Premier League
          </h3>
          
          {% include '../components/table/table.twig' with {
            variant: 'compact',
            columns: [
              { key: 'pos', label: '#', align: 'center', width: '32px' },
              { key: 'team', label: 'Team', type: 'team', align: 'left', width: '1fr' },
              { key: 'p', label: 'P', type: 'number', align: 'right', width: '40px' }
            ],
            rows: premierLeague|slice(0, 10)
          } only %}
          
          <a href="/league" class="sidebar-widget__more">
            View full table
            <span class="material-symbols-outlined">arrow_forward</span>
          </a>
        </div>
      </aside>
    </div>
  </div>
</section>
<section class="section section--margin">
  <div class="container">
    <div class="section__inner">
            {% include '../components/review-stats/review-stats.twig' with {
        title: statsData.title,
        statistics: statsData.statistics
      } only %}
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
{% endblock %}