{% extends "../layouts/_base.html" %} 
{% set currentPage = 'teams' %}
{% block title %}Teams{% endblock %} 
{% block active_nav %}teams{% endblock %} 
{% block body_class %}page page--teams{% endblock %} 
{% block head_extra %}
{% endblock %} {% block content %}

{% set teams = load_json('data/teams.json') %}

{% include '../components/page-header/page-header.twig' with {
  title: 'Popular Teams',
  subtitle: 'Stay updated with the latest teams',
    mod: 'compact',
  breadcrumbs: [
    { label: 'Home', url: '/' },
    { label: 'Teams' }
  ]
} %}


<section class="section section--margin">
  <div class="container">
    <div class="section__inner">
      <div class="archive__grid archive__grid--teams">     
{% for team in teams %}
    {% include '../components/card-team/card-team.twig' %}
{% endfor %}
      </div>

      {% if teams|length > 12 %}
        {% include '../components/pagination/pagination.twig' with {
          card_selector: '.card-team',
          grid_selector: '.archive__grid--teams',
          per_page: 12
        } %}
      {% endif %}
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}
{% endblock %}