{% extends "../layouts/_base.html" %} 
{% set currentPage = 'videos' %}
{% block title %}Videos{% endblock %} 
{% block active_nav %}videos{% endblock %} 
{% block body_class %}page page--videos{% endblock %} 
{% block head_extra %}
{% endblock %} {% block content %}

{% set videos = load_json('data/videos.json') %}

{% include '../components/page-header/page-header.twig' with {
  title: 'Popular Videos',
  subtitle: 'Stay updated with the latest videos from your favorite sports and teams.',
    mod: 'compact',
  breadcrumbs: [
    { label: 'Home', url: '/' },
    { label: 'Videos' }
  ]
} %}


<section class="section section--margin">
  <div class="container">
    <div class="section__inner">
      <div class="archive__grid archive__grid--videos">     
{% for v in videos %}
    {% include "../components/card-video/card-video.twig" with { video: v } only %}
{% endfor %}
      </div>

      {% if videos|length > 12 %}
        {% include '../components/pagination/pagination.twig' with {
          card_selector: '.card-video',
          grid_selector: '.archive__grid--videos',
          per_page: 12
        } %}
      {% endif %}
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}
{% endblock %}